@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

html {
  line-height: 1.5;
}

body {
  background-color: rgb(6, 78, 59);
  color: rgba(255, 255, 255, 0.8);
  padding: 0.25rem 2.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: 700;
  padding: 0 1rem;
}

.nav__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.nav__link:hover {
  color: rgb(34 197 94);
}

.logout {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 1rem;
}

.nav__group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5rem;
}

.nav__auth {
  display: flex;
  gap: 1.25rem;
}

main {
  max-width: 986px;

  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

.plant-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plant-card {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-width: 1px;
  background-color: rgb(22, 101, 52);
  border: 1px solid transparent;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.plant-card:hover {
  border-color: rgb(34, 197, 94);
}

.plant-card__left {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.plant-card__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.plant-card__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.plant-card__right {
  margin-top: auto;
}

.plant-card__price {
  font-weight: normal;
}

.page-title {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.form-wrapper {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.form__input-wrapper {
  margin-top: 0.25rem;
}

.form__input-container {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  border-radius: 0.375rem;
  outline-width: 1px;
  background-color: #ffffff;
  outline: 1px solid #d1d5db;
  outline-offset: -1px;
  transition: outline 0.2s ease-in-out;
}

.form__input-container:focus-within {
  outline: 2px solid #4f46e5;
  outline-offset: -2px;
}

.form__input {
  display: block;
  min-width: 0;
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #1f2937;
  outline: none;
  border: none;
  border-radius: 0.375rem;
}

.form__input:focus {
  outline: none;
}

.form__errors-list {
  list-style: none;
}

.form__error {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: #ef4444;
}

.form__input-sign {
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b7280;
  user-select: none;
}

.form__button-container {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: rgb(22 163 74);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: none;
}

.form__button:hover {
  background-color: rgb(34 197 94);
}
